.App {
  text-align: center;
}
@media (min-width: 320px) {
  .header-text {
    font-size: 50%;
  }

  .status-bar .table {
    font-size: 5%;
    min-width: 100vw;
  }
}

@media (min-width: 425px) {
  .header-text {
    font-size: 50%;
  }
}

@media (min-width: 1440px) {
  .header-text {
    font-size: 100%;
  }

  .status-bar .table {
    font-size: 120%;
    max-width: 100%;
    text-align: center;
  }
}
